
* {
  margin: 0;
  padding: 0;

  &, &:before, &:after {
    box-sizing: inherit;
  }
}

html, body{
  max-width:100%;
  margin:0;
  padding:0;

}

html {
  height:100%;
}

body{
  background-color: black;
  width:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}

#version{
  visibility: hidden;
}

#Game{
  --webkit-touch-callout:none;
  touch-callout:none;
  overflow:hidden;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scrollup{
  width:100%;
  height:200000px;
  z-index:9999999;
  position: relative;
  background: rgba(173,216, 230, 0.5) no-repeat;
  top:-1000px;
  left:0;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility:hidden;
  display:block;
  }

.scrollup-image {
  pointer-events: none;
  position: fixed;
  width: 100px;
  height:200px;
  left: 0;
  right:0;
  bottom:0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("assets/swipe.png");
  margin: 0 auto;
  visibility:hidden;
}

canvas {
  touch-action-delay: none;
  touch-action: none;
  font-family: 'Roboto';
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
}


#orientation {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #707773;
  z-index: 999;
  display: none;
  background-size: 60%;
  background-image: url("assets/rotate.png");
}

#ieDIV {
  width:100%;
  height:100%;
  z-index:9999;
  position: absolute;
  background: rgba(173,216, 230, 0) no-repeat;
  background-size:100%;
  top:0px;
  left:0;
  margin:0;
  padding:0;
  overflow-y: hidden;
  overflow-x: hidden;
  // visibility:hidden;
}

@font-face{
  font-family: "Roboto";
  src: url('assets/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-Bold";
  src: url('assets/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.slideUp {
  animation: slide linear 1.5s infinite;
}

@keyframes slide{
  0% {
    transform: translateY(0);
  }

  100%{
    transform: translateY(-65px);
  }
}

@-webkit-keyframes slide{
  0% {
    transform: translateY(0);
  }
  100%{
    transform: translateY(-65px);
  }
}

@-moz-keyframes slide{
  0% {
    transform: translateY(0);
  }
  100%{
    transform: translateY(-65px);
  }
}
#error{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
    border: 5px solid white;
}

#error-code, #error-message{
  font-size: 25px;
  padding: 20px;
}
