.container {margin-bottom: 15px;}
.container ul { margin:0px 0px 0 0; padding:0;width:auto;}
.container ul li { margin:0 10px;height:auto;min-height:40px;}
.container ul li ul li {margin:0px 25px;height:auto;min-height:10px;}

.borderless {
  border:none;
}

#image4-flipped {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}