<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta xmlns="http://www.w3.org/1999/xhtml" name="viewport" content="width=device-width,height = device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Status bar styles -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Telephone format detection -->
    <meta name="format-detection" content="telephone=no">

    <!-- build:css styles.css -->
    <link rel="stylesheet" href="styles.css">

    <!-- /build -->
  </head>

  <body>
    <script type="text/javascript" src="LobbyProxy.js"></script>
    <!-- build:js game.js -->
    <script src="phaser.js"></script>
    <script src="game.js"></script>


    <!-- /build -->
    <script>window.app()</script>
    <div id="Game"></div>
    <div id="orientation"></div>
    <div class="scrollup "> </div>
    <div class="scrollup-image"></div>
    <div id="version">{{meta.version}}</div>
  </body>

</html>
